<!-- public/views/todo.html -->

<div class="jumbotron text-center">
    <h1>Todos</h1>
    <div>
        <div class="jumbotron text-center">
                    <h1>add Todos</h1>
                    <div>
                        <form id="todo-from" ng-submit="addTodo(formTodo)">
                                <fieldset>
                                        <input class="form-control" type="text" placeholder="Titre de la tache" ng-model="formTodo.title">
                                        <input class="btn btn-success btn-block" type="submit" value="Valider">
                                </fieldset>
                        </form>
                    </div>
                    <div>
                        {{response}}
                    </div>
                </div>
    </div>
    <div>
        <ul >
                        <li ng-repeat="todo in todos track by $index">
                                <button class="btn-xs btn btn-danger" style="float: left;" ng-click="removeTodo($index)">Supprimer</button>
                        <a class="btn btn-default btn-block" href="todos/{{todo._id}}">
                                 {{todo.title}}
                        </a>
                        </li>
        </ul>
    </div>
</div>
